.main
  =render 'branches/mainheader'
  .logs__body
    - @holidays.each do |holiday|
      .log
        .log__top
          .log__top__left
            登録日：
            = holiday.registration_date.strftime("%Y年%m月%d日")
          .log__top__center
            #{holiday.employee.branch.name}：
            = holiday.employee.name
          .log__top__right
            = link_to holiday_path(holiday.id), class: "link", method: :delete do
              削除
        .log__low
          .reason 
            = holiday.reason
          .day
            = holiday.add_or_delete