.holiday
  .holiday__body
    .holiday__body__title
      #{@branch.name}社員の有給消化登録
    .holiday__body__form
      = form_for @holiday, url: branch_holidays_path do |f|
        .field
          .field-label
            = f.label :employee_id
          .field-input
            = f.collection_select :employee_id, @branch.employees, :id, :name, include_blank: "選択して下さい"
        .field
          .field-label
            = f.label :registration_date
          .field-input
            != sprintf(f.date_select(:registration_date, prompt:"--", use_month_numbers:true, start_year:Date.today.year, end_year:Date.today.year+1, date_separator:'%s'),'年','月')+'日'
        .field-days
          .field
            .field-label
              = f.label :delete_day
            .field-input
              = f.number_field :delete_day, max: "50", min: "1"
          .field
            .field-label
              = f.label :add_day
            .field-input
              = f.number_field :add_day, max: "50", min: "1"
        .field
          .field-label-reason
            = f.label :reason
          .field-input
            = f.text_field :reason, autofocus: true
        .btns
          = f.button "リセット", type: :reset, class: 'btn'
          = f.button "登録", type: :submit, class: 'btn'