.main
  =render 'branches/mainheader'
  .logs__body
    - @holidays.each do |holiday|
      .log
        .log__top
          .left
            .left__text
              #{holiday.employee.branch.name}：
            .left__text
              = holiday.employee.name
          .created_at
            = holiday.created_at.strftime("%Y年%m月%d日")
        .log__low
          .reason 
            = holiday.reason
          .day
            #{holiday.delete_day}日消化