.main
  =render 'branches/mainheader'
  .main__body
    %table 
      %tr
        %th 氏名
        %th 入社日
        %th{id: "short"}
          付与日
        %th{id: "short"}
          勤続年数
        %th{id: "short"}
          取得日数
        %th{id: "short"}
          消化日数
        %th{id: "short"}
          残日数
        - @employees.each do |employee|
          %tr
            %th
              = employee.name
            %th
              = employee.hire_date.strftime("%Y/%m/%d")
            %th{id: "short"}
              = employee.calculate_grant_date
            %th{id: "short"}
              = employee.calculate_year_of_service
            %th{id: "short"}
              = employee.last_add_day
            %th{id: "short"}
              = employee.total_delete_day
            %th{id: "short"}
              = employee.calculate_remaining_days