.main__header
  .nav
    .nav__logo
      = link_to root_path, class: "logo" do
        || Backyard ||
    .nav__ragistation
      = link_to "#", {class: "btn link", data:{action:'toggle', side:'left'}} do
        メニュー
    .nav__ragistation
      = link_to new_branch_path, class: "btn" do
        支社登録
    .nav__ragistation
      = link_to new_employee_path, class: "btn" do
        社員登録
  .right
    .right__name
      = current_user.name
    .right__signout
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'right__signout--link'