.main
  =render 'branches/mainheader'
  .main__body
    社員データの編集は「名前」をクリック、削除は右端です。
    %table 
      %tr
        %th 名前
        %th 入社日
        %th{id: "short"}
          付与日
        %th
          勤続年数
        %th{id: "short"}
          付与日数
        %th{id: "short"}
          消化日数
        %th{id: "short"}
          残日数
        %th{id: "short", class: "bgc"}
          5日消化
        %th{id: "veryshort"}
        - @employees.each do |employee|
          %tr
            %th
              = link_to edit_employee_path(employee.id), class: "link" do
                = employee.name
            %th
              = employee.hire_date.strftime("%Y/%m/%d")
            %th{id: "short"}
              = employee.calculate_grant_date
            %th
              = employee.calculate_year_of_service
            %th{id: "short"}
              = employee.total_add_day
            %th{id: "short"}
              = employee.total_delete_day
            %th{id: "short"}
              = employee.calculate_remaining_days
            %th{id: "short", class: "bgc"}
              = employee.delete_days_alert
            %th{id: "veryshort" }
              = link_to employee_path(employee.id), class: "link", method: :delete do
                削除