.side
  .side__header
    %form.side__header__content
      %input{type: "text", placeholder: "社員の検索", class: "text"}
      %label{class: "btn"}
        %input{type: "submit", class: "btn--icon"}
        = icon('fas', 'search')
    %end
  .side__lists
    - current_user.branches.each do |branch|
      .list
        = link_to branch_employees_path(branch), class: "list__link" do
          .list__name
            = branch.name 
          .list__count
            %span 従業員：
            = branch.employees.count
            %span 名
  .side__nav
    .delete 消化履歴
    .links
      = link_to "#", class: "link" do
        有給休暇届
      = link_to "https://www.mhlw.go.jp/shingi/2004/04/s0428-7b2a.html", class: "link" do
        関連サイト