.sidebar.left
  .sidebar__logo
    = link_to root_path, class: "sidebar__logo__link" do
      || Backyard ||
  .sidebar__lists
    - current_user.branches.each do |branch|
      .list
        .list__top
          = link_to branch_employees_path(branch), class: "list__link" do
            .list__name
              = branch.name 
            .list__count
              %span 従業員：
              = branch.employees.count
              %span 名
        .list__bottom
          .bottom__btn
            = link_to edit_branch_path(branch.id), class: "list__link" do
              支社編集/削除
          .bottom__btn
            = link_to new_branch_holiday_path(branch), class: "list__link" do
              有休登録
  .sidebar__nav 
    .delete
      = link_to holidays_path, class: "delete__link" do
        付与または消化の履歴
    .links
      = link_to "https://drive.google.com/file/d/1NXmC35ZbmCOAqu7oGyCOc2LqipHDGDJj/view?usp=sharing", target: :_blank, class: "link" do
        有給休暇届
      = link_to "https://www.mhlw.go.jp/shingi/2004/04/s0428-7b2a.html", target: :_blank, class: "link" do
        関連サイト