.branch
  .branch__body
    .branch__body__title
      #{@branch.name}の編集
    .branch__body__form
      = form_for @branch do |f|
        .field
          .field-label
            = f.label :name
          .field-input
            = f.text_field :name, autofocus: true
        .btns
          = f.button "登録", type: :submit, class: 'btn'
          = link_to branch_path(@branch), class: "link", method: :delete do
            = f.button "支社削除", class: 'btn'
        .alert
          .alert__text
            支社の削除を行う前に社員の所属先を変更して下さい。
            %br
            %br 支社削除を行った場合、以下のデータも削除されます。
            ●所属する社員のデータ
            %br ●削除した社員の有給休暇に関する履歴
            くれぐれもご注意下さい!!