.employee
  .employee__body
    .employee__body__title
      新規社員登録
    .employee__body__form
      = form_for @employee do |f|
        .field
          .field-label
            = f.label :name
          .field-input
            = f.text_field :name, autofocus: true
        .field
          .field-label
            = f.label :employment_status
          .field-input
            = f.select :employment_status, [["フルタイム", "1"],["パートタイム", "2"]], include_blank: "選択して下さい"
        .field
          .field-label
            = f.label :hire_date
          .field-input
            != sprintf(f.date_select(:hire_date, prompt:"--", use_month_numbers:true, start_year:Time.now.year, end_year:1975, date_separator:'%s'),'年','月')+'日'
        .field
          .field-label
            = f.label :branch_id
          .field-input
            = f.collection_select :branch_id, @branch, :id, :name, include_blank: "選択して下さい"
        .btns
          = f.button "登録", type: :submit, class: "btn btn-default"