#account-page.account-page
  .account-page__inner
    .account-page__inner--left.account-page__header
      %h3 有給休暇管理ツール「Backyard」
      %h5 有給休暇管理ツール「Backyard」へようこそ。こちらは、プログラミングスクール「TECHCAMP」の75期生のいりふねが、カリキュラムの一環で開発したアプリケーションです。どなたでも自由にご利用いただけます。
      = render "devise/shared/links"
    .account-page__inner--right.user-form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          .field-label
            = f.label :email
          .field-input
            = f.email_field :email, autofocus: true
          .field
            .field-label
              = f.label "パスワード"
              %i (英数字8文字以上)
            .field-input
              = f.password_field :password, autocomplete: "off"
          .actions
            = f.submit "ログイン", class: 'btn'
