!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Backyard
    %script{src: "//code.jquery.com/jquery-1.10.2.min.js" }
    %script{src: "//jillix.github.io/jQuery-sidebar/js/handlers.js" }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    = render 'layouts/notifications'
    = yield